{% load static %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        {# page_hea块 有些模块（如百度地图）需要放在jquery之前导入，某则会出错，可以放在这个模块当中 #}
        {% block page_head %}{% endblock %}
        {# jquery #}
        <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
        {# jquery-ui #}
        <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
        {# popper 是bootstrap4一些功能的前置 #}
        <script src="{% static 'popper/popper.js' %}"></script>
        {# bootstrap4 #}
        <link rel="stylesheet" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.css' %}">
        <script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.js' %}"></script>
        {# layer 弹窗插件 #}
        <script src="{% static 'layer/layer.js' %}"></script>

        {# 自定义的base.js #}
        <script src="{% static 'appipark/base.js' %}"></script>

        {# 解决 Not Found: /favicon.ico #}
        <link REL="SHORTCUT ICON" HREF="{% static 'img/fjthcc.ico' %}" />
        {% if title%}
            <title>{{ title }}</title>
        {% endif %}
    </head>
    <body>
        {# page_body块 页面主要内容 #}
        {% block page_body %}{% endblock %}
        {# csrf_token #}
        <div>{% csrf_token %}</div>
        {# page_script块 页面脚本 #}
        {% block page_script %}{% endblock %}
    </body>
</html>