{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'appipark/login/login.css' %}" rel="stylesheet">
    <link REL="SHORTCUT ICON" HREF="{% static 'img/fjthcc.ico' %}" />
    <title>登录</title>
</head>
<body>
    <div class="signin">
        <div class="signin-head">
            <h1><img src="{% static 'appipark/login/fjthcc.ico' %}" alt="">福建天海</h1>
        </div>
        <form class="signin-form" method="post" action="{% url 'appipark:login' %}">
            {% csrf_token %}
            <label>
                <input type="text" class="form-control" placeholder="用户名" required autofocus name="username" />
            </label>
            <label>
                <input type="password" class="form-control" placeholder="密码" required name="password" />
            </label>
            <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
            {% if errmsg %}
            <p class="text-danger">{{ errmsg }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
